body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

form ol {
	padding: 0;
}

form ol li {
	margin-bottom: 0.5em;
	list-style-type: none;
}

form ol li label {
	width: 10em;
	float: left;
}

label {
	cursor: pointer;
}

.visualEditor {
	width: 40em;
	height: 20em;
}